<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastraPessoaExternaServelt</servlet-name>
        <servlet-class>br.edu.unipampa.controller.CadastraPessoaExternaServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroTemaServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.CadastroTemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemasRequisitadosServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.TemasRequisitadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalheTemaServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.DetalheTemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarTemaTCCServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.CriarBancaTCCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarTemaServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.ConfirmarTemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadTCCServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.DownloadTCCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmeterTCCServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.SubmeterTCCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBancaServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.VerificarBancaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalheTCCServlet</servlet-name>
        <servlet-class>br.edu.unipampa.controller.DetalheTCCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastraPessoaExternaServelt</servlet-name>
        <url-pattern>/CadastraPessoaExternaServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroTemaServlet</servlet-name>
        <url-pattern>/CadastroTemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemasRequisitadosServlet</servlet-name>
        <url-pattern>/TemasRequisitadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalheTemaServlet</servlet-name>
        <url-pattern>/DetalheTemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarTemaTCCServlet</servlet-name>
        <url-pattern>/CriarTemaTCCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarTemaServlet</servlet-name>
        <url-pattern>/ConfirmarTemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadTCCServlet</servlet-name>
        <url-pattern>/DownloadTCCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmeterTCCServlet</servlet-name>
        <url-pattern>/SubmeterTCCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBancaServlet</servlet-name>
        <url-pattern>/VerificarBancaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalheTCCServlet</servlet-name>
        <url-pattern>/DetalheTCCServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>telaLogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
