<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gerenciamento de tcc?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="br/edu/unipampa/model/Aluno.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Tcc.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Professor.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Banca.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Tema.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Pessoa.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Orientador.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Tecnicoadministrativo.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Pessoaexterna.hbm.xml"/>
    <mapping resource="br/edu/unipampa/model/Datas.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
